<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week5</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="mt-4">
          <!-- 商品列表 -->
          <table class="table align-middle">
            <thead>
              <tr>
                <th>圖片</th>
                <th>商品名稱</th>
                <th>價格</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in productList" :key="product.id">
                <td style="width: 200px">
                  <div
                  style="
                  height: 100px;
                  background-size: cover;
                  background-position: center;"
                  :style="{backgroundImage:`url(${product.imageUrl})`}">
                  </div>
                </td>
                <td>{{product.title}}</td>
                <td>
                  <div class="h5" v-if="product.origin_price===product.price">
                    {{ product.price}} 
                  元</div>
                  <div>
                    <del class="h6 text-secondary">原價 {{product.origin_price}} 元</del>
                    <div class="h5">
                      現在只要
                      <span class="text-danger">
                      {{ product.price}} 
                      </span> 
                      元
                    </div>
                  </div>
                </td>
                <td>
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-outline-secondary" @click="showProductModal(product)">
                      <i class="fas fa-spinner fa-pulse"></i>
                      查看更多
                    </button>
                    <button type="button" class="btn btn-outline-danger" @click="addProduct(product.id)" :disabled=" status.addCartLoading === product.id">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-if="status.addCartLoading === product.id"></span>
                      加到購物車
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination :pages="pagesInfo" @choose-page="renderProductList"></pagination>

          <!-- Modal -->
          <modal-Component :modal-content="tempProduct" ref="productModal" :add-to-cart="addProduct" :status="status.addCartLoading"></modal-Component>

          <!-- 購物車列表 -->
          <div class="text-end">
            <button class="btn btn-outline-danger" type="button" @click="deleteAll" :disabled="cartList.length==0">
              清空購物車
            </button>
          </div>
          <table class="table align-middle">
            <thead>
              <tr>
                <th></th>
                <th>品名</th>
                <th style="width: 150px">數量/單位</th>
                <th class="text-end">單價</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="cartList.length">
                <tr v-for="item in cartList" :key="item.id">
                  <td>
                    <button type="button" class="btn btn-outline-danger btn-sm" @click="deleteProduct(item.id)">
                      <i class="fas fa-spinner fa-pulse"></i>
                      x
                    </button>
                  </td>
                  <td>
                    {{ item.product.title }}
                    <!-- <div class="text-success">已套用優惠券</div> -->
                  </td>
                  <td>
                    <div class="input-group input-group-sm">
                      <div class="input-group mb-3">
                        <input min="1" type="number" class="form-control" :value="item.qty" @change="changeCartNum(item, item.qty)" v-model="item.qty">
                        <span class="input-group-text" id="basic-addon2"
                          >{{ item.product.unit }}</span
                        >
                      </div>
                    </div>
                  </td>
                  <td class="text-end">
                    <!-- <small class="text-success">折扣價：</small> -->
                    {{ item.total }}
                  </td>
                </tr>
              </template>
              <template  v-else>
                <tr>
                  <td colspan="4" class="border-0 text-center text-secondary">
                    尚無商品加入購物車
                  </td>
                </tr>
              </template>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="text-end">總計</td>
                <td class="text-end">{{ cartTotal }}</td>
              </tr>
              <!-- <tr>
                <td colspan="3" class="text-end text-success">折扣價</td>
                <td class="text-end text-success">{{ }}</td>
              </tr> -->
            </tfoot>
          </table>
        </div>

        <!-- 表單驗證 -->
        <div class="my-5 row justify-content-center">
          <v-form ref="form" class="col-md-6" v-slot="{ errors }" >
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <v-field
                id="email"
                name="email"
                type="email"
                class="form-control"
                :class="{ 'is-invalid': errors['email'] }"
                placeholder="請輸入 Email" rules="email|required"
                v-model="userInfo.user.email"
              ></v-field>
              <error-message
                name="email"
                class="invalid-feedback"
              ></error-message>
            </div>

            <div class="mb-3">
              <label for="name" class="form-label">收件人姓名</label>
              <v-field
                id="name"
                name="name"
                type="text"
                class="form-control"
                placeholder="請輸入姓名"
                :class="{ 'is-invalid': errors['name'] }"
                rules="required"
                v-model="userInfo.user.name"
              ></v-field>
              <error-message
                name="name"
                class="invalid-feedback"
              ></error-message>
            </div>

            <div class="mb-3">
              <label for="tel" class="form-label">收件人電話</label>
              <v-field
                id="tel"
                name="tel"
                type="text"
                class="form-control"
                placeholder="請輸入電話"
                :class="{ 'is-invalid': errors['tel'] }"
                :rules="required|isPhone"
                v-model="userInfo.user.tel"
              ></v-field>
              <error-message
                name="tel"
                class="invalid-feedback"
              ></error-message>
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">收件人地址</label>
              <v-field
                id="address"
                name="address"
                type="text"
                class="form-control"
                placeholder="請輸入地址"
                :class="{ 'is-invalid': errors['address'] }"
                rules="required"
                v-model="userInfo.user.address"
              ></v-field>
              <error-message
                name="address"
                class="invalid-feedback"
              ></error-message>
            </div>

            <div class="mb-3">
              <label for="message" class="form-label">留言</label>
              <textarea
                id="message"
                class="form-control"
                cols="30"
                rows="10"
                v-model="userInfo.message"
              ></textarea>
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-danger" @click.prevent="sendForm" :disabled="userInfo.user.name =='' | userInfo.user.email ==''| userInfo.user.tel =='' | userInfo.user.address ==''">送出訂單</button>
            </div>
          </ㄒform>
        </div>


      </div>
    </div>
    
    
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    
    <!-- Bootstrap Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Vue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.prod.min.js"></script>
    
    
    <!-- Vee Validate套件 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.1.17/vee-validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.1.17/dist/vee-validate-i18n.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.1.17/dist/vee-validate-rules.min.js"></script>
    
    <!-- 本機JS -->
    <script src="./all.js" type="module"></script>
  </body>
</html>

